
#------------------------#
#      pycache files     #
#------------------------#
*.pyc
__pycache__/

#------------------------#
#   Environment Files    #
#------------------------#
venv/
activate

#------------------------#
#        Jupyter         #
#------------------------#
.ipynb_checkpoints/
